fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-dateutil
Pillow
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pytesseract
pdf2image
numpy
requests
